body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link{
  background-color: #eeeeee;
  border-radius: 20px;
  margin: 50px;
  width: 20%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: monospace;
}
